<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e9fae">  <td>22/10/21 15:52:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="seleniumWebElement.addToCart()[pri:0, instance:selenium.com.seleniumWebElement@4738a206]">addToCart</td> 
  <td>main@1418555530</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>22/10/21 15:52:50</td>   <td>8658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="seleniumWebElement.navigate()[pri:0, instance:selenium.com.seleniumWebElement@4738a206]">navigate</td> 
  <td>main@1418555530</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>22/10/21 15:52:41</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="seleniumWebElement.launchBrowser()[pri:0, instance:selenium.com.seleniumWebElement@4738a206]">launchBrowser</td> 
  <td>main@1418555530</td>   <td></td> </tr>
<tr bgcolor="6e9fae">  <td>22/10/21 15:52:50</td>   <td>8713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="seleniumWebElement.searchItem()[pri:0, instance:selenium.com.seleniumWebElement@4738a206]">searchItem</td> 
  <td>main@1418555530</td>   <td></td> </tr>
</table>
